head{
text-align: right;
}
#left {
	float:left;
}

body{
	background-color: #fff;
	text-align: right;
}
#yuh {
	padding:220px; 
}


main{
	text-align: center;
}

footer{ 
	text-align: right;
}

#left {
	float: left;
}














